$primary: #F2C57C;
$secondary: #DDAE7E;
$tertiary: #7FB685;
$quaternary: #426A5A;
$quinary: #EF6F6C;
$dark: #101010;
$light: #e8e8e8;

$background1: linear-gradient(135deg, #243B55, #141E30);
$background2: linear-gradient(135deg, #DDAE7E 10%, #ddae7ec3 100%);

$boxShadow1: 0px 0px 40px -20px #646464, 0px 0px 39px 22px rgba(255, 255, 255, 0);

$squareEmpty1: linear-gradient(135deg, #DDAE7E 10%, #ddae7ec3 100%);
$squareX1: linear-gradient(135deg, #DDAE7E 10%, #ddae7ec3 100%);
$squareO1: linear-gradient(135deg, #96785B 10%, #7b6046 100%);

$squareEmpty2: linear-gradient(135deg, #243B55, #141E30);
$squareX2: linear-gradient(135deg, #243B55, #141E30);
$squareO2: linear-gradient(135deg, #96785B 10%, #7b6046 100%);
